#table{
    width: 100vw;
    min-height: 90vh;
    background-color: var(--main-color);
    color: var(--th3-color);
    padding: 5vh 0;
}
#table form{
    margin: auto;
    display: grid;
    min-width: 35vw;
    max-width: 80vw;
    gap: 20px;
}
sup{
    color: #ff0000;
    font-weight: bold;
}
textarea,input,select,#table button{
    width: 35vw;
    padding: 0.5vw;
    margin: 1vh auto;
}
.Field{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (max-width:1024px) and (min-width:701px) {
    #contactMeSection form {
        width: 35vw;
        min-height: 70vh;
    }
}
@media screen and (max-width:700px){
    #contactMeSection form {
        width: 70vw;
        min-height: 75vh;
    }
    textarea,input,select,#table button{
        width: 70vw;
        padding: 0.5vw;
        margin: auto;
    }
    .Field{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen and (max-width:1440px) and (min-width:1025px) {
    textarea,input,select,#table button,label{
       font-size: larger;
    }
}
@media screen and (max-width:2560px) and (min-width:1441px) {
    textarea,input,select,#table button,label,header ul li,footer{
       font-size: xx-large;
    }
}